@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Rubik:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262834;
  justify-items: center;
  height: fit-content;
  /* margin-top: 100px; */
  font-family: "Poppins", sans-serif;
}

.conatiner {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  /* width: 256px; */
  text-align: center;
  border: 10px solid #101116;
  background: black;
  border-radius: 5px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

input[type="text"] {
  /* background-color: #45475000; */
  border: 0px;
  color: #ffffff;
  text-align: right;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: #262834;
}

#result {
  grid-column: 3/5;
  grid-row: 5;
  color: #262834;
}

button {
  margin: 5px;
  /* padding: 20px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #262834;
  color: #ffffff;
  font-weight: 500;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

.highlight {
  background-color: #f8ccc4;
  color: black;
}
